In [0]:
import pandas as pd
import math


df = pd.read_csv("./a3.csv", header = 0)
init_entropy = len(df[df["class"]=="n"])/9*math.log(9/len(df[df["class"]=="n"]),2)+len(df[df["class"]=="y"])/9*math.log(9/len(df[df["class"]=="y"]),2)
df.head(10)

   a3 class
0   1     n
1   3     y
2   4     n
3   4     n
4   5     y
5   6     y
6   7     n
7   7     y
8   8     y

In [0]:
for split in range(1,8):
  data_smaller_than_split = df[df["a3"]<=split]
  data_bigger_than_split = df[df["a3"]>split]
  
  num_of_small = len(data_smaller_than_split)
  num_of_big = len(data_bigger_than_split)
  
  num_smaller_y = len(data_smaller_than_split[data_smaller_than_split["class"]=="y"])
  if num_smaller_y == 0:
    num_smaller_y = 0.0000000000000000000001
  num_smaller_n = len(data_smaller_than_split[data_smaller_than_split["class"]=="n"])
  
  num_bigger_y = len(data_bigger_than_split[data_bigger_than_split["class"]=="y"])
  num_bigger_n = len(data_bigger_than_split[data_bigger_than_split["class"]=="n"])
  if num_bigger_n == 0:
    num_bigger_n = 0.00000000000000000000001
    
  entropy = num_of_small/9*(num_smaller_y/num_of_small*math.log(num_of_small/num_smaller_y, 2) + num_smaller_n/num_of_small*math.log(num_of_small/num_smaller_n,2))+num_of_big/9*(num_bigger_y/num_of_big*math.log(num_of_big/num_bigger_y,2)+num_bigger_n/num_of_big*math.log(num_of_big/num_bigger_n,2))
  info_gain = init_entropy - entropy
  print("Split Point:", split, "Entropy:", entropy, "Info Gain: ", info_gain)

Split Point: 1 Entropy: 0.8483857803777466 Info Gain:  0.14269027946047563
Split Point: 2 Entropy: 0.8483857803777466 Info Gain:  0.14269027946047563
Split Point: 3 Entropy: 0.9885107724710844 Info Gain:  0.002565287367137792
Split Point: 4 Entropy: 0.7616392191414825 Info Gain:  0.22943684069673975
Split Point: 5 Entropy: 0.8999850522344304 Info Gain:  0.09109100760379185
Split Point: 6 Entropy: 0.9727652780181631 Info Gain:  0.018310781820059074
Split Point: 7 Entropy: 0.8888888888888888 Info Gain:  0.10218717094933338