In [2]:
import pandas as pd
import math

df = pd.read_csv("./Table1.csv", header = 0)
init_entropy = len(df[df["class"]=="n"])/9*math.log(9/len(df[df["class"]=="n"]),2)+len(df[df["class"]=="y"])/9*math.log(9/len(df[df["class"]=="y"]),2)
df.head(10)

  a1 a2  a3 class
0  T  T   1     n
1  T  T   4     n
2  T  F   5     y
3  F  F   4     n
4  F  T   7     y
5  F  T   6     y
6  F  F   8     y
7  T  F   7     n
8  F  T   3     y

In [ ]:
#(c) For a3, which is a continuous attribute, compute the information gain for every possible split.
#(d) What is the best split (among a1, a2 and a3) according to the information gain?
#(e) What is the best split (between a1 and a2) according to the classiÔ¨Åcation error rate?
#(f) What is the best split (between a1 and a2) according to the Gini index.

In [3]:
df[df["a1"]=="T"].head(10)

  a1 a2  a3 class
0  T  T   1     n
1  T  T   4     n
2  T  F   5     y
7  T  F   7     n

In [42]:
for split in range(1,8):
  data_smaller_than_split = df[df["a3"]<=split]
  data_bigger_than_split = df[df["a3"]>split]
  
  num_of_small = len(data_smaller_than_split)
  num_of_big = len(data_bigger_than_split)
  
  num_smaller_y = len(data_smaller_than_split[data_smaller_than_split["class"]=="y"])
  if num_smaller_y == 0:
    num_smaller_y = 0.0000000000000000000001
  num_smaller_n = len(data_smaller_than_split[data_smaller_than_split["class"]=="n"])
  
  num_bigger_y = len(data_bigger_than_split[data_bigger_than_split["class"]=="y"])
  num_bigger_n = len(data_bigger_than_split[data_bigger_than_split["class"]=="n"])
  if num_bigger_n == 0:
    num_bigger_n = 0.00000000000000000000001
    
  entropy = num_of_small/9*(num_smaller_y/num_of_small*math.log(num_of_small/num_smaller_y, 2) + num_smaller_n/num_of_small*math.log(num_of_small/num_smaller_n,2))+num_of_big/9*(num_bigger_y/num_of_big*math.log(num_of_big/num_bigger_y,2)+num_bigger_n/num_of_big*math.log(num_of_big/num_bigger_n,2))
  info_gain = init_entropy - entropy
  print("Split Point:", split, "Entropy:%05f"%entropy, "Info Gain:%05f "%info_gain)

Split Point: 1 Entropy:0.848386 Info Gain:0.142690
Split Point: 2 Entropy:0.848386 Info Gain:0.142690
Split Point: 3 Entropy:0.988511 Info Gain:0.002565
Split Point: 4 Entropy:0.761639 Info Gain:0.229437
Split Point: 5 Entropy:0.899985 Info Gain:0.091091
Split Point: 6 Entropy:0.972765 Info Gain:0.018311
Split Point: 7 Entropy:0.888889 Info Gain:0.102187

In [ ]:
#So the Best Split point is to split at the point 4.5 with a info gain 0.229437.

In [5]:
df_a1_T = df[df["a1"]=="T"]
df_a1_F = df[df["a1"]=="F"]
df_a2_T = df[df["a2"]=="T"]
df_a2_F = df[df["a2"]=="F"]

num_a1_T = len(df_a1_T)
num_a1_F = len(df_a1_F)
num_a2_T = len(df_a2_T)
num_a2_F = len(df_a2_F)

num_a1_T_y = len(df_a1_T[df_a1_T["class"]=="y"])
num_a1_T_n = len(df_a1_T[df_a1_T["class"]=="n"])
num_a1_F_y = len(df_a1_F[df_a1_F['class']== 'y'])
num_a1_F_n = len(df_a1_F[df_a1_F['class']=='n'])

num_a2_T_y = len(df_a2_T[df_a2_T["class"]=="y"])
num_a2_T_n = len(df_a2_T[df_a2_T["class"]=="n"])
num_a2_F_y = len(df_a2_F[df_a2_F['class']== 'y'])
num_a2_F_n = len(df_a2_F[df_a2_F['class']=='n'])


print(num_a1_T_y)
Entropy_a1 = num_a1_T/9*(num_a1_T_y/num_a1_T*math.log(num_a1_T/num_a1_T_y,2)+num_a1_T_n/num_a1_T*math.log(num_a1_T/num_a1_T_n,2))+num_a1_F/9*(num_a1_F_y/num_a1_F*math.log(num_a1_F/num_a1_F_y,2)+num_a1_F_n/num_a1_F*math.log(num_a1_F/num_a1_F_n,2))
print("split with a1's Entropy:%05f"%Entropy_a1,"info_gain: %05f"%(init_entropy- Entropy_a1))
Entropy_a2 = num_a2_T/9*(num_a2_T_y/num_a2_T*math.log(num_a2_T/num_a2_T_y,2)+num_a2_T_n/num_a2_T*math.log(num_a2_T/num_a2_T_n,2))+num_a2_F/9*(num_a2_F_y/num_a2_F*math.log(num_a2_F/num_a2_F_y,2)+num_a2_F_n/num_a2_F*math.log(num_a2_F/num_a2_F_n,2))
print("split with a2's Entropy:%05f"%Entropy_a2, "info_gain: %05f"%(init_entropy - Entropy_a2))

1
split with a1's Entropy:0.761639 info_gain: 0.229437
split with a2's Entropy:0.983861 info_gain: 0.007215

In [ ]:
#To split the data with a1 and a3's 4.5 split point will get the same best entropy.

In [8]:
GINI_a1 = num_a1_T/len(df)*(1-(num_a1_T_y/num_a1_T)**2-(num_a1_T_n/num_a1_T)**2)+num_a1_F/len(df)*(1-(num_a1_F_y/num_a1_F)**2-(num_a1_F_n/num_a1_F)**2)
print("Gini index of a1: %05f"%GINI_a1)

Gini index of a1: 0.344444

In [9]:
GINI_a2 = num_a2_T/len(df)*(1-(num_a2_T_y/num_a2_T)**2-(num_a2_T_n/num_a2_T)**2)+num_a2_F/len(df)*(1-(num_a2_F_y/num_a2_F)**2-(num_a2_F_n/num_a2_F)**2)
print("Gini index of a2: %05f" %GINI_a2)

Gini index of a2: 0.488889